apiVersion: v1
kind: Service
metadata:
  name: echo-server
spec:
  type: ClusterIP
  selector:
    app: echo-server
  ports:
    - name: http
      port: 80
      targetPort: 5678
      protocol: TCP
